nav > a {
    padding: 5px;
    text-decoration: none;
    color: black;

    :visited {
        text-decoration: none;
    }
}

nav > a.active {
    background-color: white;
}

.header-row {
    width: 100%;
    justify-content: space-between;        
}