<mat-card>
    <mat-card-header>
        <mat-card-title appHighlight [backgroundColor]="backgroundColor" [color]="color">{{product.title | uppercase}}
        </mat-card-title>
        <mat-card-subtitle>{{product.price | currency}}</mat-card-subtitle>
    </mat-card-header>
    <div class="crop-image">
        <img [src]="product.image" alt="Product">
    </div>
    <mat-card-content>
        <p>{{product.description | slice:0:10}}</p>
        <p>{{today | date: 'HH:mm:ss'}}</p>
    </mat-card-content>
    <mat-card-actions class="actions">
        <button mat-raised-button color="primary" (click)="addCart()">Agregar al carrito</button>
        <a mat-raised-button [routerLink]="[product.id]">Ver detalle</a>
    </mat-card-actions>
</mat-card>