<input type="text" [(ngModel)]="title">{{title}}

<input type="text" [(ngModel)]="power">
<p>El valor usando el <strong>pipe</strong> personalizado es {{power | exponential}}</p>

<div *ngIf="title === 'hola'">
  Soy un div
</div>

<span [ngSwitch]="title">
  <p *ngSwitchCase="'david'">
    Soy un parrafo
  </p>
  <p *ngSwitchCase="'esteban'">
    Soy otro parrafo
  </p>
  <p *ngSwitchDefault>
    No hay match
  </p>
</span>

<button (click)="addItem()">Add item</button>

<ul>
  <li *ngIf="items.length === 0">La lista esta vacia</li>
  <li *ngFor="let name of items; index as i">
    {{name}} {{i}}
    <button (click)="deleteItem(i)">Delete</button>
  </li>
</ul>

<div class="product-grid">
  <app-product 
    *ngFor="let product of products" 
    (productClicked)="clickProduct($event)" 
    [product]="product">
  </app-product>
</div>